# Tested with python 3.10.8 - 3.10.14

# TensorFlow version
keras==2.10.0
scikit-learn==1.5.1
joblib==1.4.2

numpy==1.26.4
seaborn==0.13.2
pandas==2.2.2
matplotlib==3.9.2

requests-cache==1.2.1
openmeteo-requests
retry-requests

# Firebase dependencies
firebase-admin==6.5.0
google-cloud-firestore==2.17.2
google-cloud-core==2.4.1

# Server dependencies
fastapi==0.112.1
uvicorn==0.30.6

# Download these seperate dependency seperately
#tensorflow==2.10.0
#protobuf==3.20.3